body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
div .App{
  min-height: 100vh;
}
div#wrapper{
  overflow: hidden;
  min-height: 100vh;
  /* background-color: #eee; */
}
#wrapper textarea{
  resize: none;
  white-space: pre;
}
#wrapper textarea::-ms-value{
  color: blueviolet;
}
p#myHeading{
  font-family: monospace, Geneva, Tahoma, sans-serif;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font: 16px Segoe UI;
}
